// USER VARIABLES SECTION

$accent: #F57500; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #333; // Text Color
$dark: #303030;
$deep: #252525;
$lineheight: 1.7; // Document Line Height
$userfont: raleway-vh, sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$size: 75px;
$size-sm: 58px;
$border-opacity: .1;

    // Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;

    // IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
    // @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
    // @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

@import "node_modules/swiper/swiper-bundle";

@import "../../../vendor/micromodal/micromodal";

    // FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
    @font-face {
        font-display: swap;
        font-family: $fname;
        font-style: $fstyle;
        font-weight: $fweight;
        src: url($furl) format('woff2');
    }
}

@include font('oswald-vh', normal, 700, '../fonts/oswaldbold-webfont.woff2');
@include font('oswald-vh', normal, 500, '../fonts/oswaldmedium-webfont.woff2');
@include font('raleway-vh', normal, 800, '../fonts/ralewayextrabold-webfont.woff2');
@include font('raleway-vh', normal, 500, '../fonts/ralewaymedium-webfont.woff2');
@include font('raleway-vh', normal, 400, '../fonts/ralewayregular-webfont.woff2');
@include font('raleway-vh', normal, 600, '../fonts/ralewaysemibold-webfont.woff2');
@include font('roboto-vh', normal, 400, '../fonts/robotoregular-webfont.woff2');

// GENERAL DOCUMENT STYLES

::placeholder {
    color: #666;
}

::selection {
    color: #fff;
    background-color: $accent;
}

input, textarea {
    outline: none;

    &:focus:required:invalid {
        border-color: red;
    }

    &:required:valid {
        border-color: green;
    }
}


body {
    font-family: $userfont;
    font-size: $fontsize;
    line-height: $lineheight;
    color: $textcolor;
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
}

