<!--#set var="title" value="Create Cool Slider" -->
<!--#include virtual="/parts/header.html" -->

<header class="home-header">

    <div class="top-line">
        <a href="/" class="logo">
			<span class="logo__img-wrapper">
				<img src="{{ this.theme.logo_image | media }}" alt="{{ this.theme.logo_text }}" class="logo__image">
			</span>
            <span class="logo__text">{{ this.theme.logo_text }}</span>
        </a>
        <div class="top-line__decoration"></div>
        <div class="top-line__contacts">
            Телефон: <span class="top-line__numbers">{{ this.theme.phone }}</span>
            <span class="top-line__separator"></span>
            <span class="top-line__address">Адрес: <span class="top-line__text">{{ this.theme.address }}</span></span>
        </div>
        <div class="top-line__decoration"></div>
        <div class="menu-button-container">
            <a href="#" class="menu-button"></a>
        </div>
    </div>

    <div class="home-header__content">

        <aside class="home-aside">

            <div class="home-aside__decoration"></div>
            <div class="home-aside__soc">
                <div class="home-aside__soc-items">
                    {% for field in this.theme.social %}
                        <a href="{{ field.link }}" class="soc-item" target="_blank"><img src="{{ field.image | media }}" alt="Профили компаний"></a>
                    {% endfor %}
                </div>
            </div>

            <div class="home-aside__share-icon"></div>

        </aside>

        <div class="slider-container">

            <div class="slider-text">

                <div class="swiper-wrapper">
                    {% for field in this.theme.landing_1_slider %}
                        <div class="swiper-slide slider-text__slide">
                            <div class="slider-text__content">
                                <h2 class="slider-text__heading">{{ field.header | raw }}</h2>
                                <p class="slider-text__desc">{{ field.description | raw }}</p>
                                <button data-micromodal-close="modal-1" class="button button_slider"><span class="button__text">Оставить заявку</span></button>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

            <div class="slider-img">

                <div class="swiper-wrapper">
                    {% for field in this.theme.landing_1_slider %}
                    <div class="swiper-slide slider-img__slide">
                        <div class="slider-img__bg" data-swiper-parallax="20%" style="background-image: url({{ field.image| media | resize(2560, 1440, false, { mode: 'crop', 'quality': 80 }) }} );"></div>
                    </div>
                    {% endfor %}
                </div>

            </div>

            <div class="slider-bottom">

                <div class="slider-share">
                    <div class="slider-share__items">
                        {% for field in this.theme.share %}
                            <a href="{{ field.link }}" class="soc-item slider-share__item" target="_blank"><img src="{{ field.image | media }}" alt="Лого соц. сети"></a>
                        {% endfor %}
                    </div>
                </div>

                <div class="slider-pagination mousehide">
                    <div class="swiper-pagination"></div>
                </div>

                <div class="slider-scrollbar">
                    <div class="swiper-scrollbar"></div>
                </div>

                <div class="slider-navigation">
                    <div class="slider-navigation__container">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>

            </div>

            <div class="slider-pagination-count">
                <span class="current">01</span> / <span class="total"></span></div>
        </div>

        <div class="slider-pagination-current">01<span class="slider-pagination-current__dot">.</span></div>

        <div class="slider-gear"></div>

    </div>

</header>

<!--#include virtual="/parts/footer.html" -->
