// CURSOR

#cursor {
	position: absolute;
	border-radius: 100%;
	transition: .65s cubic-bezier(.75,-1.27,.3,2.33) transform, .65s cubic-bezier(.75,-1.27,.3,2.33) opacity;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	width: 17px;
	height: 17px;
	background-color: $accent;
	transform: scale(1);
	margin: -8.5px 0 0 -8.5px;

  &.active {
		border: .1px solid $accent;
		transform: scale(3.4);
		background-color: rgba(#fff, .1);
  }

	+media-breakpoint-down(sm) {
		display: none;
  }
}

#aura.hidden,
#cursor.hidden {
	transform: scale(.001)
}
