.modal {
	z-index: 1000000;
	position: absolute;
	font-family: raleway-vh, sans-serif;
}

.modal__container {
	background-color: lighten($deep, 6);
	box-shadow: 0 0 0 8px rgba(#fff, .1);
	border-radius: 0;
}

.modal__title {
	color: #fff;
	font-family: oswald-vh, sans-serif;
	text-transform: uppercase;
	font-weight: 400;
}

.modal__close {
	color: #fff;
	opacity: .25;
  z-index: 20;
	transition: opacity .25s ease-in;
	&:hover {
		opacity: 1;
	}
}

.modal__header {
	text-align: center;
}

.modal__title {
	display: block;
	width: 100%;
}

.modal__footer {
	text-align: center;
}

.modal__input {
	margin-bottom: 8px;
}

.popup_form-alert {
    .alert {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $deep;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        display: none;
    }

    p {
        padding: 20px;
        text-align: center;
    }
}
